{% extends 'Dashboard/index.html' %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}
<script>
{% block jquery %}
var endpoint = '/dashboard/ground/api/chart/data'
var defaultData = []
var labels = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
        labels = data.labels
        defaultData = data.default
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: labels,
            datasets: [{
              data: defaultData,
              backgroundColor: ['#007bff', '#ebeb00', '#fca503', '#ff0000', '#00bf23', '#8300bf', '#898988', '#090900', '#584920'],
            }],
  },
});
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)}
})
{% endblock %}
</script>
{% block title %}Ground Shipping Dashboard{% endblock %}

{% block pagetitle %}Ground Shipping Dashboard{% endblock %}
{% block datatable %}Ground Shipments{% endblock %}
{% block dashboard %}../dashboard/ground{% endblock %}
{% block tablecontent %}
    {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
    {% endif %}
    {% render_table table %}
{% endblock %}