{% extends 'Dashboard/index.html' %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}
<script>
{% block jquery %}
var endpoint = '/dashboard/air/api/chart/data'
var defaultData = []
var labels = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
        labels = data.labels
        defaultData = data.default
        var ctx = document.getElementById("myPieChart");
        ctx.height = 80;
        var myPieChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: labels,
            datasets: [{
              data: defaultData,
              backgroundColor: ['#00bf23', '#ebeb00', '#fca503', '#007bff', '#ff0000', '#8300bf',
                  '#898988', '#090900', '#584920', '#9d4fc0', '#4b9190'],
            }],
  },
            options: {
                maintainAspectRatio : true, // make the pie small
                legend: {
                display: true,
                labels: {
                      fontSize: 12//change the size of the labels
                }
    }
}

});
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)}
})
{% endblock %}
</script>
{% block title %}Air Freight Dashboard{% endblock %}
{% block pagetitle %}Air Freight Dashboard{% endblock %}
{% block datatable %}Air Freight Shipments{% endblock %}
{% block dashboard %}../dashboard/air{% endblock %}
{% block tablecontent %}
    {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
    {% endif %}
    {% render_table table %}
{% endblock %}